<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
</head>
<body>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h4 class="card-title"><strong> {{ room_name }} : چت با کلاینت</strong></h4>
                        <h4><a href="#" data-abc="true">پایان پشتیبانی</a></h4>
                    </div>

                    <div class="ps-container ps-theme-default ps-active-y messages_div" id="chat-content"
                         style="overflow-y: scroll !important; height:600px !important;">

                        {% for message in messages_obj %}

                        {% if message.user == 'user' %}
                        <div class="media media-chat">
                            <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png"
                                 alt="...">
                            <div class="media-body">

                                {{message.message}}
                                <p class="meta">
                                    <time datetime="2018">23:58</time>
                                </p>
                            </div>
                        </div>

                        {% else %}
                        <div class="media media-chat media-chat-reverse" style="direction: rtl;margin-right: 50px">
                            <div class="media-body">
                                <p>{{message.message}}</p>
                                <p class="meta">
                                    <time datetime="2018">00:06</time>
                                </p>
                            </div>
                        </div>


                        {% endif %}
                        {% endfor %}


                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                        </div>
                    </div>

                    <div class="publisher bt-1 border-light">
                        <img class="avatar avatar-xs"
                             src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">


                        <input class="publisher-input" id="chat-message-input-admin" type="text" placeholder="Write something">
                        <button value="Send" id="chat-message-submit-admin" type="submit" class="btn">ارسال</button>


                        <span class="publisher-btn file-group">


                  <i class="fa fa-paperclip file-browser"></i>
                  <input type="file">
                </span>
                        <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>
                        <a class="publisher-btn text-info" href="#" data-abc="true"><i
                                class="fa fa-paper-plane"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<script>


    const roomName1 ="{{ room_name}}";
    console.log(roomName1)


    const chatSocketAdmin = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/admin/'
        + roomName1
        + '/'
    );
    chatSocketAdmin.onmessage = function (e) {
        const data = JSON.parse(e.data);
        console.log(data)
        document.querySelector('#chat-content').innerHTML += "<div>" + (data.message + '\n') + "</div>";
    };
    chatSocketAdmin.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input-admin').focus();
    document.querySelector('#chat-message-input-admin').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit-admin').onclick = function (e) {

        const messageInputDom = document.querySelector('#chat-message-input-admin');
        const message = messageInputDom.value;
        chatSocketAdmin.send(JSON.stringify({
            'message': message,
             'username':'admin'
        }));
        messageInputDom.value = '';
    };


</script>


</body>
</html>

